* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    
    background-image: url("img/bg.png");
}
#parent{
    float: left;
    width: 50%;
}
.errorMsg{
    color: red;
}
#myChart {
    height: auto;
    width: 100%;
    margin-top: 10px;
}
.input_box, #target{
    display: block;
    padding: 10px;
    margin: 10px 0px;
    font-size: 18px;
    outline-color: green;
}

#dfAmount, #catAmount, #oldw, #learning,
#errorDelta
{
    display: inline;
    padding: 10px;
    font-size: 18px;
    outline-color: goldenrod;
}
#cmInput{
    display: block;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 18px;
    outline-color: goldenrod;
}

#avg_btn {
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 20px;
    border: none;
    color: white;
    background-color: tomato;
    margin-left: 10px;
}

#add_btn {
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 20px;
    border: none;
    color: white;
    background-color: grey;
    margin-left: 10px;
}

#avg_btn:hover {
    background-color: maroon;
    transform: scale(1.05);
    cursor: pointer;
}

#add_btn:hover {
    background-color: rgb(112, 110, 110);
    cursor: pointer;
}

.body {
    width: 50%; 
    height: 100vh;
    padding: 50px;
    margin: auto;
    border: 1px solid rgb(190, 189, 189);
}

#Table {
    width: 50%;
    margin-top: 20px;
    border-collapse: collapse;
    visibility: hidden;
    clear: both;
}

td {
    border: none;
    padding: 7px 10px;
    width: 50%;
    font-size: 18px;
}

#weight,
#output1,
#output2,
#output3,
#output4{
    font-size: 18px;
    font-weight: bold;
    color: green;
}
@media screen and (max-width: 480px) {
    h1{
        font-size: 150%;
    }
   
    .body {
        width: auto;
        padding: 10px;
        border: none;
    }

    #add_btn,
    #avg_btn {
        margin: 10px;
        margin-left: 0px;
        font-size: 100%;
    }
    #Table {
        width: 100%;
        font-size: 100%;
    }
    #myChart {
        width: 100%;
    }
    
}
